.container-edit-catalog {
    margin-top: 200px;
}

table tr{
    text-align: center;
}

.select-btn-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-refetch-catalog {
    margin-right: 20px;
}