.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.main-container button {
  margin: 0 20px
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body form{
  display: flex;
  margin: 100px 0;
}

.my-1 {
  margin-top: 40px !important;
}